{% extends 'study_auth/base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}

{% if request.user == user %}
    <h1>MYPAGE</h1>
    <a href="{% url 'create_post' %}">CREATE NEW POST</a>
{% endif %}
{% if request.user != user and not followed %}
<form action="{% url 'subscribe' followed_user_id=user.id %}" method="post">
    {% csrf_token %}
    <button type="submit">FOLLOW USER</button>
</form>
{% endif %}
<h1>FOLLOWERS :: {{ followers_count }}</h1>
{% for post in posts %}
    <h2 style="overflow-wrap: break-word">
        CREATED AT :: {{post.created_at}}
        Title :: {{post.title}};
        Author :: {{post.author.username}}
    </h2><br/>
    <p style="overflow-wrap: break-word">{{post.content}}</p><br/>
    {% if request.user == post.author %}
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="post_id" value="{{post.id}}">DELETE</button>
            <input name="action_code" value="delete post" hidden />
        </form>
    {% endif %}
    {% if request.user.is_staff and request.user !=  post.author %}
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="user_id" value="{{post.author.id}}">BAN USER</button>
            <input name="action_code" value="ban user" hidden />
        </form>
    {% endif %}
    <hr/>
{% endfor %}
{% endblock %}